.dialog-header {
		padding:10px 15px;
}

.dialog-main {
	background-color: rgba(0,0,0,.5);
	z-index: 2;
	position:relative;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}

.dialog-title-section {
	width: 100%;
  height: 30px;
}

.dialog-body-section {
  width: 100%;
  position: absolute;
  top: 30px;
  bottom: 0;
}

.dialog-body-container {
	border-width: 1px;
	border-color: #fff;
	border-style: solid;
	z-index:2;
	width:100%;
	height:100%;
	padding:10px;
}

.dialog-body-padding {
	padding:10px;
}

.dialog-title {
	margin-top:0;
	margin-bottom:0;
}

.dialog-header > h3 {
	font-size:14px;
	font-weight: bold;
	color: white;
}

.dialog-info {
  color:rgb(189, 189, 189);
}

.dialog-text-cnt {
	overflow-y: auto;
}
.dialog-text-cnt > p {
	font-size:13px;
	font-weight: normal;
	color: white;
}
