<script type="text/javascript">
    function demo(event) {
        $("#parg1").text("Something");
        console.logs("demo 2");
    }
</script>
<button id="btn1" onclick="demo(event)">Test</button>
<p id="parg1">Nothing</p>

