

/** Item Layout CSS */

.scroll-parent {
	width:100%;
  height:100%;
  /*background-color:red;*/
  overflow: auto
}

.content-row {
  /*background-color:blue;*/
  white-space: nowrap;
}

.inline-comp {
  display:inline-block;
}

.item {
  /*background-color:yellow;*/
  position:relative;
  vertical-align:top;
  padding:10px 0px 5px 15px;
}

.item-short {
	width:30px;
  background-color:purple;
  position:relative;
  top:0px;
  bottom:0px;
}

.item-wrapper {
	position:relative;
  top:0px;
  background-color:green;
}

.item-small {
	width:30px;
  height:30px;
  background-color:orange;
  display:table-cell;
  vertical-align: middle;
}



/** Graphics CSS */
.node-panel {
  background-color: rgba(34, 34, 34);
  border: 1px solid;
  border-radius: 5px;
  width:80px;
  white-space: normal;
}

.node-panel-has-sub-items {
  width:80px;
}

.node-panel-create-new {
  width:80px;
}

.node-panel-default {
  color: #BDBDBD;
  background-color: #424242;
  border-color: #424242;
}

.node-panel-default-light {
  color: #BDBDBD;
  background-color: #828282;
  border-color: #828282;
}

.panel-v-align {
  display:inline-block;
  overflow: hidden;
}

.node-edit-more-container {
  margin-left:5px;
  height:100%;
  margin-bottom:27px;
}

.node-icon-panel {
  border: 1px solid;
  box-sizing:border-box;
  border-radius: 5px;
  background-color: #525252;
  border-color: #727272;
  display:inline-block;
  width:70px;
  height:70px;
  margin:5px;
  overflow:hidden;
}

.node-icon-panel-sm {
  position:relative;
  margin:5px;
  bottom:4px;
  display:inline-block;
  overflow: hidden;
}

.node-info-panel {
  border: 0px solid;
  box-sizing:border-box;
  border-radius: 5px;
  border-color: #727272;
  display:inline-block;
  height:100%;
  width:100px;
  overflow: hidden;
  padding-top: 4px;
}

.node-info-seperator {
  width:100%;
  border-color: :727272;
  border: 0px solid;
  padding-top: 4px;
}

.no-bg {
  background-color: rgba(0,0,0,0);
}

.node-label {
  margin-bottom: 0;
  font-weight: normal;
  text-align: left;;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  width:100%;
	overflow: hidden;
}

.node-label-primary {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
  width:100px;
}

.node-label-info {
  color: #ffffff;
  background-color: #727272;
  border-color: #727272;
  width:100%;
}

.node-more-button {
  border-radius: 20px;
}

.node-label-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.node-label-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
