.event-icon {
    margin-right:5px;
}

.event-icon-message:before {
    font-family: FontAwesome;
    content: "\f075";
}

.event-icon-flag:before {
    font-family: FontAwesome;
    content: "\f024";
}

.notification-icon {
    margin-right:5px;
}

.notification-icon-text:before {
    font-family: FontAwesome;
    content: "\f15c";
}

.notification-icon-credentials:before {
    font-family: FontAwesome;
    content: "\f2c3";
}

.notification-icon-message:before {
    font-family: FontAwesome;
    content: "\f075";
}