.fade-in-element {
    -webkit-animation: fadein .7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .7s; /* Firefox < 16 */
    -ms-animation: fadein .7s; /* Internet Explorer */
    -o-animation: fadein .7s; /* Opera < 12.1 */
    animation: fadein .7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.inline-element {
    display: inline-block;
    overflow: hidden;
}


.color-default-text {
    color: #BDBDBD;
}


.color-default {
    color: #BDBDBD;
    background-color: #3c3c3c;
    border-color: #1e1e1e;
}
.border-color-default {
    border-color: #1e1e1e;
}
.background-color-default {
    background-color: #1e1e1e;
}

.color-grey-text {
    color: #BDBDBD;
}

.color-grey {
    color: #3c3c3c;
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.color-stopped-text,
.color-disabled-text {
    color: #3c3c3c;
}

.color-disabled-text,
.color-disabled {
    color: #3c3c3c;
    background-color: #BDBDBD;
    border-color: #696969;
}

.color-waiting-text,
.color-running-text,
.color-primary-text {
    color: #2a9fd6;
}


.border-color-primary {
    border-color: #2a9fd6;
}
.background-color-primary {
    background-color: #2a9fd6;
}

.color-waiting,
.color-running,
.color-primary {
    color: #ffffff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}

.border-color-info {
    border-color: #0db5cc;
}
.background-color-info {
    background-color: #66CCCC;
}
.text-color-info {
    color: #ffffff;
}
.color-info {
    color: #ffffff;
    background-color: #66CCCC;
    border-color: #0db5cc;
}
.text-color-warning,
.color-warning-text {
    color: #ffd24d;
}

.border-color-warning {
    border-color: #f05800;
}
.background-color-warning {
    background-color: #ff8800;
}
.color-warning {
    color: #ffffff;
    background-color: #ff8800;
    border-color: #f05800;
}

.color-failed-text,
.color-error-text {
    color: #ff0000;
}

.border-color-error {
    border-color: #bd001f;
}
.background-color-error {
    background-color: #cc0000;
}
.color-failed,
.color-error {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #bd001f;
}


.border-color-success {
    border-color: #809a00;
}
.background-color-success {
    background-color: #77b300;
}
.text-color-success,
.color-success-text {
    color: #d4ff00;
}
.color-success {
    color: #ffffff;
    background-color: #77b300;
    border-color: #809a00;
}


.border-color-white {
    border-color: #FFF;
}

.background-color-white {
    background-color: #FFF;
}

.border-color-light-grey {
    border-color: #646464;
}

.background-color-light-grey {
    background-color: #646464;
}

.background-color-black-transparent {
    background-color: rgba(0,0,0,.7);
}

.text-heading {
    font-weight: bold;
    font-size: 12px;
    color:#b3b3b3;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-heading-large {
    font-weight: bold;
    font-size: 20px;
    color:#b3b3b3;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-outline-black
{
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        -1px 0 0 #000000,
        1px 0 0 #000000,
        0 1px 0 #000000,
        0 -1px 0 #000000;
}

/** PANELS */


.panel-text {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #BDBDBD;
}

.hover-text-color-primary:hover {
    color: #2a9fd6;
}

.panel-font {
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
}

.panel {
  background-color: rgba(34, 34, 34, 255);
  border: 1px solid;
  box-sizing:border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position:relative;
  min-height:82px;
}

.panel-body {
	position:absolute;
  width: 100%;
	top:60px;
	bottom:0;
}

.panel-heading {
  padding-left: 0px;
  padding-top: 10px;
  height:41px;
  box-sizing:border-box;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left:10px;
  font-size: 12px;
  color: inherit;
  display:inline-block;
}
.panel-title > i {
  margin-right:5px;
}
.panel-title > a {
  color: inherit;
}

.panel-heading {
  border-color: #2a9fd6;
}

.panel-heading-default {
  color: #BDBDBD;
  background-color: #3c3c3c;
  border-color: #282828;
}
.panel-default {
  border-color: #282828;
}

.panel-primary {
  border-color: #2a9fd6;
}
.panel-heading-primary {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.panel-info {
  border-color: #6e2caf;
}
.panel-heading-info {
  color: #ffffff;
  background-color: #9933cc;
  border-color: #6e2caf;
}
.panel-warning {
  border-color: #f05800;
}
.panel-heading-warning {
  color: #ffffff;
  background-color: #ff8800;
  border-color: #f05800;
}

.panel-error {
  border-color: #bd001f;
}
.panel-heading-error {
  color: #ffffff;
  background-color: #cc0000;
  border-color: #bd001f;
}
.panel-success {
  border-color: #809a00;
}
.panel-heading-success {
  color: #ffffff;
  background-color: #77b300;
  border-color: #809a00;
}



.dialog-main {
	min-height:60px;
}

/* buttons */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}

.btn-default.disabled {
  background-color: #424242;
  border-color: #424242;
}

.btn-primary {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.btn-success {
  color: #ffffff;
  background-color: #77b300;
  border-color: #77b300;
}

.btn-info {
  color: #ffffff;
  background-color: #6e2caf;
  border-color: #6e2caf;
}

.btn-warning {
  color: #ffffff;
  background-color: #f05800;
  border-color: #f05800;
}

.btn-error {
  color: #ffffff;
  background-color: #bd001f;
  border-color: #bd001f;
}

.btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-icon {
  border-radius: 10px;
}

.btn-xlg {
  padding: 14px 16px;
  font-size: 32px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-lg {
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



/**
================================================================================================
Form Based Styles

*/

div,p,a,label,input, textarea {
    box-sizing: border-box;
}

.form-panel {
    width:500px;
    border-radius: 0px;
    color: #BDBDBD;
    background-color: #3c3c3c;
    border-color: #282828;
    padding:10px;
    overflow-y:auto;
}

.form-label-container {
    width:190px;
    padding-right: 5px;
    padding-top: 5px;
    overflow:hidden;
    display: inline-block;
    vertical-align:top;
    box-sizing: border-box;
}

.form-text-value-cntr {
    padding-top: 5px;
    margin-left:10px;
}

.form-input-container {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    right:0px;
    overflow:hidden;
    width:calc(100% - 200px);
    box-sizing: border-box;
}

.form-input-container-no-title {
    width:calc(100%);
}

.form-label {
    font-weight: bold;
    font-size: 14px;
    color:#b3b3b3;
}

.form-group {
    margin-bottom: 5px;
    width: 100%;
    position:relative;
}

.form-group-error {
    border: 1px solid #bd001f;
    border-radius: 3px;
}

.form-control-error {
    border: 1px solid #bd001f;
    border-radius: 3px;
}

.form-textarea {
    min-height: 100px;
}

.form-control {
    width: 100%;
    height: 30px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-image: none;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
    color: #BDBDBD;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #BDBDBD;
}
.form-control::-webkit-input-placeholder {
    color: #BDBDBD;
}

input[type="file"] {
    height:30px;
    padding-left:8px;
    position:relative;
    left:-84px;
    width:calc(100% + 80px);
}


input[type="range"] {
    left:-10px;
    position:relative;
}

.form-control-file-input-container {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    margin-left:5px;
}

.file-input-left-corner {
    width:20px;
    height:30px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    border-right:0px;
    border-radius: 4px 0px 0px 4px;
    position:absolute;
    left:0px;
    top:0px;
    box-sizing: border-box;
}

.select-right-corner {
    width:30px;
    height:30px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    border-left:0px;
    border-radius: 0px 4px 4px 0px;
    position:absolute;
    right:0px;
    top:0px;
    box-sizing: border-box;
}

.help-block {
    display: block;
    margin-top: 5px;
    color: #c8c8c8;
    font-size:12px;
}

/*.form-help-icon {*/
    /*position:relative;*/
/*}*/
/*.form-help-icon > .help-bubble {*/
    /*display: none;*/
    /*width: 300px;*/
    /*height: 300px;*/
/*}*/

/*.form-help-icon:hover {*/
    /*color:red;*/
/*}*/

/*.form-help-icon:hover > .help-bubble {*/
    /*position: absolute;*/
    /*z-index:999;*/
    /*top:0;*/
    /*left:0px;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*display: block;*/
/*}*/

.error-block  {
    color: #bd001f;
    font-weight:bold;
}

.form-section {
    margin-bottom:10px;
    border-bottom:2px solid #b2b2b2;
    padding-bottom:10px;
}

.form-button {
    margin-right:5px;
}

.form-list-select-label {
    font-size:13px;
    font-weight:bold;
}

.form-help {
    font-size:20px;
    float:right;
    margin-top:2px;
    cursor:pointer;
    color:#2a9fd6;
}

.form-required {
  font-size:18px;
  color:#bd001f;
  margin-right: 2px;
}

.input-group-addon {
    width:30px;
    height:30px;
    padding-top:6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #BDBDBD;
    text-align: center;
    background-color: #848181;
    border: 1px solid #848181;
    border-radius: 4px;
    position:absolute;
    box-sizing: border-box;
    display: inline-block;
    content:"\f007";
}


.input-group .input-group-addon-left
 {
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    top:0px;
    left:0px;
}

.input-group .input-group-addon-right {
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    top:0px;
    right:0px;
}

.input-group .form-control-has-right-addon {
    padding-right:42px;
}

.input-group .form-control-has-left-addon {
    padding-left:42px;
}

/** RADIAL MENU STYLING **/

.radmenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}
.radmenu-item
{
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  display: none;
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
  font-family: "segoe ui";
  font-weight: 200;
  font-size: 14px;
  background: rgba(200, 200, 200, 0.9);
  display: flex;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  box-shadow: 0 0 10px #111111;
}

.radmenu-item {
   position:absolute;
  width: 60px;
  height: 60px;
  color:#333;
}

.radmenu-item  > a {
    position:relative;
  color:#333;
}

/** BACK PANEL UI **/

.back-panel {
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.5);
}

.back-panel-dark {
  background-color: #111;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.5);
}

.back-panel-shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.5);
}

.titledbox {
  min-width:300px;
  min-height: 35px;
  max-width: 100%;
  max-height: 100%;
  position:relative;
}
.titledbox-heading-bar {
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.titledbox-content-spacer {
  height:20px;
  width:100%;
}
.titledbox-content-container {
  position:relative;
  width:100%;
  overflow: hidden;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  max-height:calc(100% - 20px);
  height:calc(100% - 20px);
  color: black;
}

.titledbox-scroll {
    overflow: auto;
}

.titledbox-image-icon {
  width:16px;
  height:16px;
}

.has-text {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: black;
  padding:5px;
}

.tvision-nav-menu-button {
  display:inline-block;
  float: top;
  margin-bottom: 15px;
  width:40px;
  height:40px;
  border-radius: 25px;
  border: 1px;
  position:relative;
}
.tvision-nav-menu-button-default {
  background-color: white;
  border-color: white;
  color: slategrey;
}
.tvision-nav-menu-button-disabled {
  opacity: .2;
}
.tvision-nav-menu-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.19);
}
.tvision-nav-menu-button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, .6);
}
.hover-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, .6);
}
.hover-shadow:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, .6);
}

.hover-shadow-light:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 8px 16px 0 rgba(255, 255, 255, .6);
}
.hover-shadow-light:active {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(255, 255, 255, .6);
}

.applist-select-button {
  background-color: rgba(0,0,0,0.9);
  border:none;
  opacity: 0;
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
}
.applist-select-button:hover {
  opacity: .5;
}

.progress-meter {
  height: 60px;  /* Can be anything */
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 8px;
  box-shadow : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress-meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
}

.progress-meter-complete > span {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.progress-meter-orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.progress-meter-red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.fa-rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}


/**
TABLE
**/


.tt-table, .tt-table th, .tt-table td {
    border-collapse: collapse;
    color:rgb(199, 199, 199);
    text-align:center;
    font-family:"sans-serif";
}
.tt-table{
    border: 0px solid slategrey;
}
.tt-table th, .tt-table td {
    border: 4px solid slategrey;
    background-color:rgba(0,0,0,1);
    min-width:180px;
    max-width:180px;
}
.tt-th-info {
    margin-right:5px;
}
.tt-table {
    border-radius:4px;
}
.tt-table th {
    color: #ffffff;
    background-color: #2a9fd6;
    overflow:hidden;
}
.fa-action {
    cursor:pointer;
}
.fa-action:hover {
    color: #1f7496;
}
.fa-action:pressed {
    color: #1c4765;
}

.tt-table-data-cell {
    padding: 0px;
    height:20px;
    font-size:13px;
    font-weight:normal;
    padding:5px;
    max-height:100px;
    overflow:auto;
}
.boolean-cell {
    border-radius:4px;
    width:calc( 100% - 4px );
    height:calc( 100% - 4px );
    margin-top:2px;
    margin-left:2px;
}
.tt-table .boolean-cell-true {
    background-color:rgba(0,0,0,1);
    color:#d4ff00;
}
.tt-table .boolean-cell-false {
    background-color:rgba(0,0,0,1);
    color:#ff0000;
}
.tt-table-panel {
    position:relative;
    width:100%;
    height:100%;
    border:0px solid blue;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}

.tt-table-scroll-panel {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
    box-sizing:border-box;
    max-width:100%;
}

.tt-table-scroll-index {
    position:relative;
    font-weight:bold;
    font-size:10;
}

.tt-table-scroll-right {
    float:right;
}

.tt-table-scroll-left {
    float:left;
}
.tt-table-heading-ovelay {
    position:absolute;
    top:0px;
}
.tt-table-column-manage-panel {
    height:30px;
}
.tt-table-data-action {
    margin-right:5px;
}
.tt-status-icon {
    margin-right:2px;
}


.tvision-user-card .tvision-user-card-menu {
    display:none;
}

.tvision-user-card:hover .tvision-user-card-menu {
    display:flex;
}