body {
    background-color: lightblue;
}

html,body{ margin:0; padding:0; height:100%; width:100%; overflow: hidden }
.offset-div{position:absolute;top:0%;left:0%;z-index:2;height:100%; width:100%;overflow: hidden}

.fill-parent{
    height:100%;
    width:100%;
    margin:0; padding:0;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

.top-left-parent{
    height:50%;
    width:50%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}
