.product-card {
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin:5%;
  display:inline-block;
  position:relative;
}
.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.19);
}
.product-card:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.product-card-size-helper {
    display: block;
    width: 100%;
    height: auto;
}

.product-card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-home-menu-button {
  display:inline-block;
  float: right;
  margin-right: 20px;
  width:50px;
  height:50px;
  border-radius: 25px;
  background-color: white;
  border-color: white;
  border: 1px;
  position:relative;
  top: 35px;
  color: slategrey;
}
.site-home-menu-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 24px 60px 0 rgba(0, 0, 0, 0.19);
}
.site-home-menu-button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
