.no-float,
.radio-group.floaty {
  float: none;
  clear: both;
  overflow: hidden;
}
.vanilla-list,
.disclaimer,
.expando-row,
ul.errors,
ul.columnar,
ol.bullet-free,
ul.bullet-free,
ul.meta,
.name-desc {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vanilla-list li,
.disclaimer li,
.expando-row li,
ul.errors li,
ul.columnar li,
ol.bullet-free li,
ul.bullet-free li,
ul.meta li,
.name-desc li {
  list-style: none;
}
.ellipsis,
.markdown > h1,
.package-widget h3,
.package-widget h3 a,
.package-widget p,
.name-desc {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.unstyled-text-input,
.autoselect-wrapper > input[type=text] {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}
.red-on-hover:hover,
.sidebar a:hover,
.package-widget a.name:hover,
.package-widget .quiet a:hover,
.ad a.quiet:hover {
  color: #cb3837;
}
.clear {
  zoom: 1;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 15px 0;
  clear: left;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
hr.less-roomy {
  margin-bottom: 30px;
}
input,
select {
  vertical-align: middle;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
a,
a:hover,
a:active {
  outline: none;
}
sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.9em;
}
a {
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgba(0,0,0,0.8);
}
.red {
  color: #cb3837;
}
.subdued {
  opacity: 0.6;
}
.full-width {
  width: 100%;
}
.center,
.centered {
  text-align: center;
}
body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
}
a {
  color: #cb3837;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a.unadorned {
  color: rgba(0,0,0,0.8);
  font-weight: 400;
}
.sidebar a {
  color: #cb3837;
  text-decoration: none;
}
.profile-sidebar-links a {
  color: #cb3837;
}
h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  color: rgba(0,0,0,0.9);
}
.narrow h1 {
  margin: 0.2em 0;
  text-align: center;
  font-size: 32px;
}
h2 {
  margin: 0;
  padding: 20px 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0;
}
h2:before {
  font-size: 45px;
  float: left;
  margin-right: 10px;
}
h2.ruled {
  letter-spacing: -0.8px;
  font-weight: 400;
  border-bottom: 2px solid rgba(0,0,0,0.08);
  padding-bottom: 22px;
  margin-bottom: 20px;
}
h2.ruled a {
  font-weight: 600;
}
hgroup {
  margin: 25px 0;
}
hgroup h1,
hgroup h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
hgroup h1 a,
hgroup h2 a {
  color: #cb3837;
  text-decoration: none;
}
hgroup h1 a:hover,
hgroup h2 a:hover {
  color: #ae2e2d;
  text-decoration: none;
}
hgroup.breadcrumb * {
  text-align: left;
}
hgroup.breadcrumb .description {
  font-size: 100%;
  color: rgba(0,0,0,0.4);
  font-weight: 400;
}
h2 {
  font-size: 135%;
  font-weight: 400;
  line-height: 1.2;
}
h2 a {
  font-weight: 300;
}
h3 {
  display: block;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: rgba(0,0,0,0.8);
}
.sidebar h3 {
  color: #cb3837;
}
.sidebar h3 a {
  color: #cb3837;
}
h1.undecorated a,
h2.undecorated a,
h3.undecorated a {
  color: rgba(0,0,0,0.8);
}
.sidebar h3,
.sidebar h3 a {
  color: rgba(0,0,0,0.8);
}
.featherweight-heading,
.package-description {
  font-weight: 300;
  line-height: 1.2;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
}
.featherweight-heading a,
.package-description a {
  font-weight: 300;
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
}
.featherweight-heading a:hover,
.package-description a:hover {
  color: #cb3837;
}
h4 {
  font-weight: 300;
}
p {
  margin: 0 0 15px 0;
}
p.notice {
  line-height: 1.5;
}
p.whoa {
  background: #cb3837;
  color: #fff;
  border-color: #a42b2b;
}
p.whoa a {
  color: #fff;
  text-decoration: underline;
}
p.whoa a:hover {
  color: #fff;
}
p.list-of-links a {
  font-weight: 400;
}
strong.code {
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
}
blockquote {
  padding: 0 15px;
  color: #555;
  border-left: 4px solid #ccc;
}
code {
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
  background-color: #f5f5f5;
}
pre {
  overflow-x: auto;
  width: 100%;
}
pre.editor,
pre code {
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
}
pre code {
  margin: 0 0 15px 0;
}
.highlight {
  margin: 0 0 15px 0;
}
.package-name {
  padding-bottom: 0;
  padding-right: 25px;
}
.package-name a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.package-name-redundant {
  display: none;
}
.package-description-redundant {
  display: none;
}
.notice {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 12px 10px;
  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 3px;
}
.show {
  display: block !important;
  visibility: visible !important;
}
.hidden {
  display: none !important;
}
.fake-strong {
  font-weight: normal;
}
.fake-strong:before,
.fake-strong:after {
  content: "*";
  display: inline;
}
.description {
  color: #979797;
  font-size: 0.75em;
  margin: 0;
}
.description .included,
.description .additional {
  display: block;
  margin-left: 2.333333em;
  line-height: 1.5;
}
.inactive {
  color: #aaa;
}
pre.shell:before {
  content: "$ ";
}
.osi {
  height: 1em;
  vertical-align: middle;
}
::-webkit-input-placeholder {
  color: #fff;
  font-weight: 100;
}
::-moz-placeholder {
  color: #fff;
  font-weight: 100;
}
:-ms-input-placeholder {
  color: #fff;
  font-weight: 100;
}
:-moz-placeholder {
  color: #fff;
  font-weight: 100;
}
:-moz-placeholder-shown {
  color: #fff;
  font-weight: 100;
}
:-webkit-placeholder-shown {
  color: #fff;
  font-weight: 100;
}
:placeholder-shown {
  color: #fff;
  font-weight: 100;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
@font-face {
  font-family: "icomoon";
  src: url("/static/fonts/icomoon.eot");
  src: url("/static/fonts/icomoon.eot#iefix") format("embedded-opentype"), url("/static/fonts/icomoon.woff2") format("woff2"), url("/static/fonts/icomoon.woff") format("woff"), url("/static/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.iconic,
.package-widget a.name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
.iconic-before,
.package-widget a.name:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-arrow-down:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e603";
}
.icon-arrow-right:before {
  content: "\e604";
}
.icon-arrow-tri-left:before {
  content: "\e605";
}
.icon-arrow-tri-right:before {
  content: "\e606";
}
.icon-arrow-up:before {
  content: "\e607";
}
.icon-cal-7days:before {
  content: "\e608";
}
.icon-cal-24hours:before {
  content: "\e609";
}
.icon-cal-30days:before {
  content: "\e60a";
}
.icon-collections-hex:before {
  content: "\e60b";
}
.icon-collections:before {
  content: "\e60c";
}
.icon-contact:before {
  content: "\e603";
}
.icon-download:before {
  content: "\e60e";
}
.icon-edit:before {
  content: "\e60f";
}
.icon-github:before {
  content: "\e610";
}
.icon-health-yay:before {
  content: "\e611";
}
.icon-health-meh:before {
  content: "\e612";
}
.icon-health-uh-oh:before {
  content: "\e613";
}
.icon-health-rip:before {
  content: "\e614";
}
.icon-history:before {
  content: "\e615";
}
.icon-i-used-this-hex:before {
  content: "\e616";
}
.icon-i-used-this:before {
  content: "\e617";
}
.icon-lock:before {
  content: "\e61d";
}
.icon-package-hex:before {
  content: "\e618";
}
.icon-package:before {
  content: "\e619";
}
.icon-x:before {
  content: "\e61a";
}
.icon-search:before {
  content: "\e61b";
}
.icon-star:before {
  content: "\e61c";
}
.icon-tag:before {
  content: "\e61e";
}
.icon-restart {
  content: "\0020";
  display: inline-block;
  background: url("/static/images/ico-undo.svg");
  width: 16px;
  height: 16px;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0;
  cursor: pointer;
}
.icon-private:before {
  content: "private";
  color: #fff;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 0.4em;
  background-color: rgba(203,56,55,0.7);
  display: inline-block;
  padding: 5px 6px 7px 5px;
  border-radius: 5px;
  text-align: center;
}
.icon-public:before {
  content: "public";
  color: #fff;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 0.4em;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  padding: 5px 6px 7px 5px;
  border-radius: 5px;
  text-align: center;
}
.icon-inline {
  height: 2em;
}
.iconic,
.package-widget a.name {
  fill: rgba(0,0,0,0.9);
}
.iconic:hover,
.package-widget a.name:hover {
  fill: rgba(0,0,0,0.6);
}
.avatar-small {
  float: left;
  width: 65px;
}
.avatar-small img {
  border-radius: 2px;
  padding-top: 8px;
}
.avatar-large {
  width: 45px;
  border-radius: 3px;
}
.palette-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.palette-container div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 240px;
}
.palette-container .description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
}
.palette-container .primary {
  background: #cb3837;
  color: #000;
  padding-top: 5px;
  text-indent: 5px;
}
.palette-container .primary:before {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  content: '.' attr(class);
}
.palette-container .secondary {
  background: #0d3e63;
  color: #fff;
  padding-top: 5px;
  text-indent: 5px;
}
.palette-container .secondary:before {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  content: '.' attr(class);
}
.palette-container .greigh {
  background: #c3c3c3;
  color: #000;
  padding-top: 5px;
  text-indent: 5px;
}
.palette-container .greigh:before {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  content: '.' attr(class);
}
.palette-container div > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  height: 25%;
  padding: 5px;
}
.palette-container div > div:before {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  content: '-' attr(class);
}
.palette-container div.status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-right: 0px;
}
.palette-container div.status > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-bottom: 10px;
  height: 240px/4;
}
.palette-container div.status > div:before {
  content: '.' attr(class);
}
.palette-container .primary > .lighter {
  background: #d17e7d;
  color: #000;
}
.palette-container .primary > .lighter:after {
  content: " #d17e7d ";
}
.palette-container .primary > .lightest {
  background: #e4b5b5;
  color: #000;
}
.palette-container .primary > .lightest:after {
  content: " #e4b5b5 ";
}
.palette-container .primary > .darker {
  background: #ae2e2d;
  color: #fff;
}
.palette-container .primary > .darker:after {
  content: " #ae2e2d ";
}
.palette-container .primary > .darkest {
  background: #661b1b;
  color: #fff;
}
.palette-container .primary > .darkest:after {
  content: " #661b1b ";
}
.palette-container .secondary > .lighter {
  background: #6ea2c9;
  color: #000;
}
.palette-container .secondary > .lighter:after {
  content: " #6ea2c9 ";
}
.palette-container .secondary > .lightest {
  background: #bfdaf0;
  color: #000;
}
.palette-container .secondary > .lightest:after {
  content: " #bfdaf0 ";
}
.palette-container .secondary > .darker {
  background: #0b3554;
  color: #fff;
}
.palette-container .secondary > .darker:after {
  content: " #0b3554 ";
}
.palette-container .secondary > .darkest {
  background: #092b45;
  color: #fff;
}
.palette-container .secondary > .darkest:after {
  content: " #092b45 ";
}
.palette-container .greigh > .lighter {
  background: #dbdbdb;
  color: #000;
}
.palette-container .greigh > .lighter:after {
  content: " #dbdbdb ";
}
.palette-container .greigh > .lightest {
  background: #f3f3f3;
  color: #000;
}
.palette-container .greigh > .lightest:after {
  content: " #f3f3f3 ";
}
.palette-container .greigh > .darker {
  background: #757575;
  color: #fff;
}
.palette-container .greigh > .darker:after {
  content: " #757575 ";
}
.palette-container .greigh > .darkest {
  background: #272727;
  color: #fff;
}
.palette-container .greigh > .darkest:after {
  content: " #272727 ";
}
.nav,
.nav > li,
.nav-breadcrumb-flow-indicator,
.nav-breadcrumb-flow-indicator li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-breadcrumb-flow-indicator-container {
  text-align: center;
}
.nav-breadcrumb-flow-indicator {
  position: relative;
  display: inline-block;
  color: #ababab;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0;
}
.nav-breadcrumb-flow-indicator:after {
  content: "\0020";
  border-top: 2px solid #cfcfcf;
  display: block;
  position: absolute;
  top: 1.15em;
  margin-left: 10%;
  padding-right: 80%;
}
.nav-breadcrumb-flow-indicator li {
  display: inline-block;
  text-transform: uppercase;
  width: 32%;
}
.nav-breadcrumb-flow-indicator li {
  padding-left: 3em;
}
.nav-breadcrumb-flow-indicator li:first-child {
  padding-left: 0;
  float: left;
}
.nav-breadcrumb-flow-indicator li:last-child {
  float: right;
}
.nav-breadcrumb-flow-indicator li:before {
  content: "\2022";
  color: #cfcfcf;
  font-size: 2.8em;
  display: block;
  z-index: 5;
  position: relative;
  margin: 0 43%;
  background-color: #fff;
}
.nav-breadcrumb-flow-indicator .done:before {
  color: #000;
}
.nav-breadcrumb-flow-indicator .current {
  color: #000;
}
.nav-breadcrumb-flow-indicator .current:before {
  color: #cb3837;
}
@media (min-width: 28.125em) {
  .nav-breadcrumb-flow-indicator li {
    width: auto;
  }
  .nav-breadcrumb-flow-indicator li {
    padding-left: 4em;
  }
}
@media (min-width: 29.625em) {
  .nav-breadcrumb-flow-indicator li {
    padding-left: 5em;
  }
}
@media (min-width: 31.125em) {
  .nav-breadcrumb-flow-indicator li {
    padding-left: 6em;
  }
}
@media (min-width: 32.625em) {
  .nav-breadcrumb-flow-indicator li {
    padding-left: 7em;
  }
}
@media (min-width: 34.125em) {
  .nav-breadcrumb-flow-indicator li {
    padding-left: 8em;
  }
}
@media (min-width: 37.75em) {
  .nav-breadcrumb-flow-indicator li {
    padding-left: 9em;
  }
  .nav-container {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: -40px;
    padding-left: 40px;
    margin-right: -40px;
    padding-right: 40px;
  }
  .nav-2-container {
    border-bottom-color: #000;
    border-top: 1px solid #ababab;
  }
  .nav-3-container {
    border-bottom-color: #ababab;
  }
  .nav-4-container {
    border-bottom-color: #c6c6c6;
  }
}
.nav > li {
  float: left;
  color: #ababab;
  text-align: center;
  position: relative;
}
.nav-2 li {
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-2 li:first-child {
  margin-left: 0;
}
.nav-3 li {
  width: 200px;
  height: 2em;
  border-right-width: 1px;
  border-right-style: solid;
  -o-border-image: linear-gradient(to top, #ababab 0%, rgba(0,0,0,0) 66%) 1;
     border-image: -webkit-linear-gradient(bottom, #ababab 0%, rgba(0,0,0,0) 66%) 1;
     border-image: linear-gradient(to top, #ababab 0%, rgba(0,0,0,0) 66%) 1;
}
.nav-3 li:first-child {
  border-left-width: 1px;
  border-left-style: solid;
}
.nav-4 li {
  background: #f8f8f8;
  width: 150px;
  height: 40px;
  padding: 0.5em 0;
  margin-left: 5px;
  border-top: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-4 li:first-child {
  margin-left: 0;
}
.nav button,
.nav a {
  color: inherit;
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.nav button:hover,
.nav a:hover {
  text-decoration: none;
}
.nav button {
  border: 0px none;
}
.nav .current {
  color: #000;
}
.nav .current:after {
  content: "\0020";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #cb3837;
  display: block;
}
.nav-4 .current {
  background: transparent;
  border-top: none;
  border-left-color: rgba(0,0,0,0.2);
  border-right-color: rgba(0,0,0,0.2);
}
.nav-4 .current:after {
  bottom: auto;
  top: 0;
  left: -0.7px;
  width: 101.1%;
  height: 4px;
  border: 1px solid #cb3837;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.action-nav {
  position: relative;
  display: inline-block;
}
.action-nav *,
.action-nav *:before,
.action-nav *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.action-nav ul {
  list-style: none;
  position: relative;
  float: right;
  display: inline-table;
}
.action-nav ul li {
  float: right;
}
.action-nav ul li:hover {
  background: rgba(0,0,0,0.04);
}
.action-nav ul li:hover > ul {
  display: block;
}
.action-nav ul li {
  float: left;
}
.action-nav ul li a {
  display: block;
  height: 40px;
  width: 40px;
  padding: 4px;
}
.action-nav ul li a:hover {
  text-decoration: none;
}
.action-nav ul ul {
  display: none;
  position: absolute;
  float: right;
  width: 220px;
  top: 0;
  right: 40px;
  border: 1px solid rgba(0,0,0,0.08);
  background: #fff;
  box-shadow: -3px 3px 10px -2px rgba(0,0,0,0.08);
}
.action-nav ul ul li {
  float: right;
  position: relative;
  text-align: right;
  right: 0;
}
.action-nav ul ul li a,
.action-nav ul ul li button {
  display: block;
  width: 220px;
  height: 40px;
  color: #cb3837;
  padding: 8px 20px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  font-size: 1em;
  apperance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  white-space: nowrap;
}
.action-nav ul ul li a:hover,
.action-nav ul ul li button:hover {
  background: rgba(0,0,0,0.04);
  text-decoration: none;
}
.secondary-nav {
  text-align: center;
  min-height: 65px;
  margin: 0 0 25px;
  background: url("../images/secondary-nav-bg.png") repeat-x bottom left;
}
@media only screen and (max-width: 767px) {
  .secondary-nav {
    min-height: 45px;
  }
}
.secondary-nav a {
  display: inline-block;
  height: 63px;
  margin: 0 30px 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 65px;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .secondary-nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    height: 43px;
    margin: 0 15px 0 0;
  }
}
.secondary-nav a:hover,
.secondary-nav a.active {
  color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #cb3837;
}
.secondary-nav a:last-child {
  margin-right: 0;
}
.inset {
  position: relative;
  padding: 35px;
  box-shadow: 0 2px 15px #a5b3aa;
}
.inset h3 {
  color: rgba(0,0,0,0.8);
  font-size: 0.75em;
  padding-top: 0;
  text-transform: uppercase;
}
.inset li {
  color: #a5b3aa;
  font-size: 0.875em;
  margin-top: 1em;
}
.inset li:first-child {
  margin-top: 0;
}
.inset li span {
  color: rgba(0,0,0,0.8);
}
.inset.bottom-img {
  padding-bottom: 150px;
}
.inset .wombat-construction {
  position: absolute;
  width: 210px;
  height: 210px;
  bottom: 0px;
  left: 0px;
  background-image: url("/static/images/wombat-construction.svg");
  background-position: -50px 50px;
  background-repeat: no-repeat;
}
.drop-down-menu {
  display: none;
  position: absolute;
  background-color: #283546;
  z-index: 10;
  right: 0;
  top: 62px;
  top: 3.9rem;
  width: 100%;
  height: 100%;
}
.drop-down-menu.main-navigation {
  top: 70px;
  top: 4.4rem;
}
@media only screen and (min-width: 768px) {
  .drop-down-menu {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 3rem;
    left: 0;
    padding: 0;
    width: auto;
    height: auto;
  }
  .drop-down-menu.main-navigation {
    top: 0;
  }
}
.drop-down-menu a,
.drop-down-menu button {
  color: #c3c3c3;
  text-align: left;
  display: block;
  font-weight: normal;
}
.drop-down-menu a:hover,
.drop-down-menu button:hover {
  color: #fff;
  text-decoration: none;
  text-weight: 600;
}
.drop-down-menu:target {
  display: block;
}
.drop-down-menu-container {
  position: static;
  display: block;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .drop-down-menu-container {
    position: relative;
    display: inline-block;
  }
}
.drop-down-menu-section a {
  color: #c3c3c3;
  background: inherit;
  border-bottom: none;
  padding: 0;
  line-height: 25px;
}
.drop-down-menu-section ul,
.drop-down-menu-section li {
  list-style: none;
  text-align: left;
  margin: 0;
}
.drop-down-menu-section ul {
  float: none;
}
.drop-down-menu-section li {
  border-bottom: 1px solid #808080;
  padding: 0;
  display: block;
  font-size: 16px;
  font-size: 1rem;
}
.drop-down-menu-section li:last-child {
  border-bottom: 0;
}
.drop-down-menu-section li > a,
.drop-down-menu-section li .btn-link {
  padding: 16px 20px;
  padding: 1rem 20px;
  display: block;
}
.drop-down-menu-section .btn-link {
  padding: 0;
}
.drop-down-menu-section .btn-link:focus {
  outline: none;
  text-decoration: underline;
}
.drop-down-menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
.drop-down-menu-toggle {
  position: relative;
  display: inline-block;
  z-index: 99999;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .drop-down-menu-toggle {
    display: block;
  }
}
.drop-down-menu-toggle:after {
  content: '';
  background-repeat: no-repeat;
  background-image: url("/static/images/arrow-down.svg");
  width: 10px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
}
.drop-down-menu-toggle:hover,
.drop-down-menu-toggle:focus {
  text-decoration: none;
  background-color: #283546;
  border-radius: 5px;
}
.drop-down-menu-toggle.toggle-is-open {
  background-color: #283546;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.drop-down-menu-toggle.toggle-is-open:after {
  background-image: url("/static/images/arrow-up.svg");
}
.drop-down-menu-toggle.toggle-is-closed {
  background-color: none;
}
.alert-success,
.alert-info,
.alert-error,
.alert-warning {
  font-size: 16px;
  border: none;
  padding: 15px;
  font-weight: 700;
}
.alert-success > p,
.alert-info > p,
.alert-error > p,
.alert-warning > p,
.alert-success > ul,
.alert-info > ul,
.alert-error > ul,
.alert-warning > ul {
  margin-bottom: 0;
}
.alert-success .close,
.alert-info .close,
.alert-error .close,
.alert-warning .close {
  text-decoration: none;
  line-height: 0.7;
  text-shadow: none;
  color: inherit;
  opacity: 1;
}
.alert-success {
  background-color: #edffd9;
  border-color: #4d8013;
  color: #4d8013;
}
.alert-success .alert-link,
.alert-success .alert-link:hover {
  color: #32540c;
}
.alert-info {
  background-color: #d9f0ff;
  border-color: #8ac0c4;
  color: #176799;
}
.alert-info .alert-link,
.alert-info .alert-link:hover {
  color: #10496d;
}
.alert-info .alert-icon {
  fill: #10496d;
}
.alert-warning {
  background-color: #fff6d9;
  border-color: #fff6d9;
  color: #806613;
}
.alert-warning .alert-link,
.alert-warning .alert-link:hover {
  color: #735c11;
}
.alert-warning .alert-icon {
  fill: #735c11;
}
.alert-error {
  background-color: #ffd9db;
  border-color: #ffd9db;
  color: #99171d;
}
.alert-error .alert-link,
.alert-error .alert-link:hover {
  color: #6d1015;
}
.alert-error .alert-icon {
  fill: #6d1015;
}
.alert-icon {
  height: 26px;
  width: 26px;
  margin-right: 10px;
  -webkit-flex-basis: 26px;
      -ms-flex-preferred-size: 26px;
          flex-basis: 26px;
}
.alert-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pui-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .pui-container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .pui-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .pui-container {
    width: 1160px;
  }
}
.pui-container:before,
.pui-container:after {
  content: " ";
  display: table;
}
.pui-container:after {
  clear: both;
}
.payment-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0,0,0,0.6);
}
.payment-nav li {
  padding: 0.5em;
  list-style: none;
}
.payment-nav:first-of-type {
  width: 75%;
}
.status-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .status-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.big-data {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  width: 20%;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
}
.big-data:first-of-type {
  margin-left: -5%;
}
@media only screen and (max-width: 767px) {
  .big-data:first-of-type {
    margin-left: -2.5%;
  }
}
.big-data:nth-of-type(2) {
  margin-left: -2.5%;
}
.big-data .num {
  font-size: 80px;
  line-height: 80px;
  height: 80px;
}
.big-data .tiny {
  display: block;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}
.big-data .dolla {
  font-size: 40px;
  vertical-align: top;
  line-height: 80px;
  height: 80px;
  position: relative;
  top: -8px;
}
.big-data .period {
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  .big-data {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }
}
.disclaimer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  line-height: 175%;
  background: rgba(0,0,0,0.04);
  color: rgba(0,0,0,0.6);
  height: 140px;
  margin-left: 50px;
}
.disclaimer ul {
  margin: 20px;
  height: 100%;
}
.disclaimer ul li {
  line-height: 200%;
}
.disclaimer ul li:last-child {
  line-height: 300%;
}
@media only screen and (max-width: 767px) {
  .disclaimer {
    -webkit-box-flex: 3;
    -webkit-flex: 3 1 100%;
        -ms-flex: 3 1 100%;
            flex: 3 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
}
.expando-row h3 {
  background: #0d3e63;
  padding: 10px;
  color: #fff;
  margin: 20px auto;
}
.alert {
  background: #ecec95;
  color: #2c2c0e;
}
.error {
  background: #e4b5b5;
  color: #661b1b;
}
.info {
  background: #bfdaf0;
  color: #092b45;
}
.success {
  background: #cce6cc;
  color: #294429;
}
label {
  display: block;
  margin: 0 0 3px;
  padding-left: 5px;
  color: rgba(0,0,0,0.8);
  font-weight: 600;
}
label.checkbox {
  color: #cb3837;
  font-size: 14px;
}
input[type=radio] + label {
  display: inline-block;
  vertical-align: middle;
}
textarea {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0 0;
  width: 100%;
  min-height: 300px;
  border-radius: 4px;
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  outline: 0;
  resize: none;
}
input[type=text],
input[type=search],
input[type=email],
input[type=password] {
  -webkit-appearance: none;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0 0 20px;
  border-radius: 4px;
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  outline: 0;
}
input[type=text],
input[type=search],
input[type=email],
input[type=password],
textarea {
  padding: 5px;
}
input[type=checkbox] {
  margin: 0 6px 0 0;
}
select {
  display: block;
  width: 96%;
  margin: 0 0 20px;
  outline: 0;
}
input[type=submit],
.button {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  border: 0;
  border-radius: 4px;
  text-align: center;
  display: block;
  padding: 0 35px;
  margin: 0 0 4px;
  height: 47px;
  line-height: 47px;
  color: #fff;
  font-size: 18px;
  background: #cb3837;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-appearance: none;
  clear: both;
}
input[type=submit]:hover,
.button:hover {
  background: rgba(0,0,0,0.8);
}
input[type=submit][disabled],
.button[disabled] {
  background: rgba(0,0,0,0.2);
}
input[type=submit].button-inline,
.button.button-inline {
  display: inline-block;
}
input[type="submit"].btn-secondary,
button[type="submit"].btn-secondary,
.button.btn-secondary,
.btn-secondary {
  color: #cb3837;
  border: 1px solid #cb3837;
  background: #fff;
  font-size: 1em;
}
input[type="submit"].btn-secondary:hover,
button[type="submit"].btn-secondary:hover,
.button.btn-secondary:hover,
.btn-secondary:hover {
  background: rgba(0,0,0,0.8);
  color: #fff;
}
input[type="submit"].btn-secondary[disabled],
button[type="submit"].btn-secondary[disabled],
.button.btn-secondary[disabled],
.btn-secondary[disabled] {
  background: rgba(0,0,0,0.2);
  color: #fff;
}
.btn-inline {
  display: inline-block;
}
.btn-link {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-shadow: none;
  height: auto;
  width: auto;
  display: inline;
  background: transparent;
  color: #cb3837;
  font: inherit;
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: underline;
}
.link-btn {
  padding: 5px 20px;
  border-radius: 3px;
}
.link-btn:hover {
  text-decoration: none;
  background: transparent(#fff, 25%);
}
.delete-user,
.delete-package {
  color: #fff;
  background: rgba(0,0,0,0.8);
  border: medium none;
  box-shadow: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  line-height: 1.2;
  padding: 6px;
  text-align: center;
}
.delete-user:hover,
.delete-package:hover {
  text-decoration: none;
}
form[class^="remove-"] input[type=submit] {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 30px;
  height: 100%;
  line-height: 100%;
  border: none;
  background: transparent;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  color: rgba(0,0,0,0.2);
}
form[class^="remove-"] input[type=submit]:hover {
  color: #cb3837;
}
input[type=file] {
  margin: 0 0 50px;
}
.help-text {
  font-size: 14px;
  color: rgba(0,0,0,0.4);
  line-height: 18px;
  margin: -15px 0 22px;
  padding-left: 8px;
}
.help-text.example:before {
  content: "Example: ";
}
form p {
  margin: 25px 0 0;
}
form p.help-text {
  margin: -15px 0 22px;
  text-align: left;
}
form p a {
  text-decoration: none;
}
form p a:hover {
  color: rgba(0,0,0,0.8);
}
.radio-group {
  margin: 25px 0;
}
.radio-group.floaty input {
  vertical-align: text-bottom;
}
.radio-group.floaty label {
  display: block;
  float: left;
  margin-right: 50px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
p.change-avatar {
  display: block;
  margin: 40px 0;
  padding: 0;
  line-height: 40px;
  vertical-align: top;
}
p.change-avatar a,
p.change-avatar span {
  vertical-align: top;
}
p.change-avatar img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
}
input.toggle {
  margin: 20px 0;
  display: none;
}
input.toggle + label {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: inline-block;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background: rgba(0,0,0,0.6);
  margin: 0;
  padding: 4px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
input.toggle + label:before,
input.toggle + label:after {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: block;
  position: absolute;
  top: 0px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  width: 108px;
}
input.toggle + label:before {
  left: -140px;
  color: #fff;
  content: "private";
}
input.toggle + label:after {
  left: 32px;
  color: #fff;
  content: "public";
}
input.toggle + label span {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  top: 4px;
  left: 4px;
  background: #fff;
  content: " ";
}
input.toggle:checked + label {
  background: #cb3837;
}
input.toggle:checked + label:before {
  left: 0;
}
input.toggle:checked + label:after {
  left: 140px;
}
input.toggle:checked + label span {
  left: 104px;
}
input.toggle + label {
  margin: 25px 0;
}
label.wrapping-hidden-radio {
  display: inline-block;
}
label.wrapping-hidden-radio input[type=radio] {
  display: none;
}
label.wrapping-hidden-radio input[type=radio]:checked + span,
label.wrapping-hidden-radio input[type=radio]:enabled span:hover {
  background: rgba(0,0,0,0.4);
  color: #fff;
  opacity: 1;
}
label.wrapping-hidden-radio input[type=radio]:disabled + span {
  cursor: not-allowed;
  opacity: 0;
}
label.wrapping-hidden-radio span {
  cursor: pointer;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  color: rgba(0,0,0,0.4);
  font-weight: normal;
  border-radius: 3px;
  padding: 1px 8px 3px 8px;
}
fieldset legend {
  font-weight: 600;
  margin-bottom: 1em;
}
fieldset ul,
fieldset ul li {
  list-style: none;
  margin: 0;
}
.inline-input-set > div {
  display: inline-block;
}
.inline-input-set > div:first-child {
  margin-right: 20px;
}
.inline-input-set .large {
  width: 300px;
}
.inline-input-set .small {
  width: 62px;
}
input[type=text] + .description {
  margin-top: -1.5em;
}
.switch-container {
  margin-top: 20px;
}
.switch-container input[type="checkbox"]:not(:checked),
.switch-container input[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
}
.switch-container label {
  position: relative;
  display: inline-block;
  margin: 0 1em 1em 0;
  width: 12em;
}
.switch-container.pay-status label {
  width: 9em;
}
.edit-write-permissions-save {
  display: none;
}
input[type="checkbox"].switch + div {
  width: 2.25em;
  height: 1.08875em;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 999px;
  margin: -2px auto;
  background: #fff;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: padding;
          transition-property: padding;
  padding: 0em 0.2em;
  cursor: pointer;
}
input[type="checkbox"].switch:checked + div {
  padding-left: 1.2em;
}
input[type="checkbox"].switch + div:before {
  content: '';
  display: block;
  width: 0.7em;
  height: 0.7em;
  margin: 1px 0;
  border-radius: inherit;
  background: rgba(0,0,0,0.8);
}
input[type="checkbox"].switch:checked + div:before {
  background: #cb3837;
}
input[type="checkbox"].inactive.switch + div:before,
input[type="checkbox"][disabled].switch + div:before {
  background-color: #aaa;
}
input[type="checkbox"].switch:active + div:before {
  background-color: #aaa;
}
.switch-label {
  margin-top: -1.25em;
}
.switch-label.unchecked-text {
  float: left;
}
.switch-label.checked-text {
  float: right;
}
.checked-text {
  font-weight: normal;
}
input[type="checkbox"].switch:checked ~ .unchecked-text {
  font-weight: normal;
}
input[type="checkbox"].switch:checked ~ .checked-text {
  font-weight: bold;
}
.js .edit-pay-status-save,
.js .edit-write-permissions-save {
  display: none;
}
.custom-select-label + .dropdown {
  position: relative;
  display: block;
  margin-top: 0.5em;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
select.custom {
  width: 110%;
  max-width: 110%;
  min-width: 110%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 16px;
  font-weight: bold;
  background: none;
  border: none;
  color: #444;
  outline: none;
  padding: 0.5em 19% 0.4em 0.8em;
  font-family: helvetica, sans-serif;
  line-height: 1.2;
  margin: 0.2em;
}
select.custom::-ms-expand {
  display: none;
}
.custom-select-label + .dropdown:after {
  background: transparent none repeat scroll 0% 0%;
  content: "\25BC";
  font-size: 14px;
  padding: 0px;
  position: absolute;
  right: 1em;
  top: 0.7em;
  bottom: 0.3em;
  z-index: 1;
  color: #000;
  pointer-events: none;
}
.custom-select-label + .dropdown:hover {
  border: 1px solid #888;
}
select.custom:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(180,222,250,0.85);
}
select.custom:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.custom-select-label + .dropdown {
  border: 1px solid #bbb;
  border-radius: 0.2em;
  background: transparent;
}
.on-site-actions > .actions {
  text-align: center;
}
.on-site-actions > .actions > .start-trial-btn {
  display: inline-block;
  margin-right: 20px;
}
.on-site-actions > .actions > .action-secondary {
  color: rgba(0,0,0,0.4);
}
ul.errors,
p.error {
  background: #fff;
  color: #cb3837;
  margin: 20px 0;
  padding: 0;
}
ul.errors li,
p.error {
  line-height: 1.4;
  padding: 6px 0 6px 18px;
  position: relative;
}
ul.errors li:before,
p.error:before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "\2716";
}
header{font-size:16px;padding:0.875em 20px 0.0625em;border-bottom:1px solid #d3d3d3;max-height:7.47813em;background:#2a333c;color:rgba(255,255,255,0.8);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-flow:row wrap;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}header.hero-transparent{background:transparent;border-bottom:0}header.hero-transparent+.pane{margin-top:-7.47813em;padding-top:7.47813em}header>.header-item{-webkit-box-flex:1;-ms-flex:1 auto;-webkit-flex:1 auto;flex:1 auto}header>.brand-container{-webkit-box-ordinal-group:2;-ms-flex-order:1;-webkit-order:1;order:1;width:50%}header>.header-search-container{-webkit-box-ordinal-group:5;-ms-flex-order:4;-webkit-order:4;order:4}header>.user-info-container{-webkit-box-ordinal-group:3;-ms-flex-order:2;-webkit-order:2;order:2;width:calc(50% - 60px);text-align:right}header>.header-nav-menu-container{-webkit-box-ordinal-group:4;-ms-flex-order:3;-webkit-order:3;order:3;width:60px;text-align:right}header ul,header li,header ul li{list-style:none;padding:0;margin:0}header a{color:rgba(255,255,255,0.8)}header a:hover{color:#fff;text-decoration:none;-webkit-transition:color 0.1s ease, background 0.1s ease;transition:color 0.1s ease, background 0.1s ease}header a.active{color:currentColor}.logo-container{padding:0;width:80px;vertical-align:middle}.logo-container svg{width:100%}.logo-container .cobrand{font-weight:bold}.logo-container .cobrand::before{content:"♥︎";font-size:150%;color:#cb3837;vertical-align:middle;padding:0 0.5em}.npm-expansions{display:none;text-align:left}.nav-toggle{width:54px;padding:0 5px}header .drop-down-menu-section li{border-bottom:1px solid #808080}header .drop-down-menu-toggle,header .drop-down-menu-section a,header .drop-down-menu button,header .drop-down-menu{background-color:inherit;color:inherit}header .drop-down-menu-toggle.toggle-is-open,header .drop-down-menu{background-color:#283546}header .drop-down-menu-toggle::after{display:none}header .drop-down-menu-toggle.toggle-is-open svg{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.header-drop-down-icon{height:0.73em;width:0.73em;padding:1px;vertical-align:baseline;fill:currentColor}.nav-toggle img{max-width:100%}.nav-toggle:after{content:none}.nav-toggle.toggle-is-open:after{content:none}.site-search{position:relative}.site-search input[type=search]{background-color:transparent;color:inherit;border:1px solid rgba(255,255,255,0.2);border-radius:0;margin:0 0 20px;padding:5px;padding-left:15px;font-size:1em;display:block;width:100%;outline:0}.site-search [type=submit]{position:absolute;top:1px;right:0;height:34px;width:34px;padding:6px;margin-bottom:0px;border:0;cursor:pointer;display:block;color:inherit;-moz-appearance:none;-webkit-appearance:none;appearance:none;background-color:transparent}@media (min-width: 768px){.site-search [type=submit]{height:48px;width:48px;padding:14px;border-left:1px solid rgba(255,255,255,0.2)}}.user-info img{border-radius:100%;display:inline-block;vertical-align:middle;width:38px;height:38px}.logged-in .user-info,.logged-in .user-info-container{text-align:right}.logged-in .user-info-salutation{display:none;vertical-align:middle;max-width:200px;margin-right:10px;overflow:hidden;text-overflow:elilipsis;color:inherit;white-space:nowrap}.anonymous .user-info-container{width:calc(50% - 44px)}.anonymous .user-info-salutation{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}.anonymous .user-info-salutation>li{-webkit-box-flex:1;-ms-flex:1 auto;-webkit-flex:1 auto;flex:1 auto}.anonymous .user-info-salutation>li>a{white-space:nowrap}.anonymous .user-info-salutation>li:first-child{width:calc(100% - 45px)}.anonymous .user-info-salutation>li:last-child{width:45px}.anonymous .header-nav-menu-container{width:44px}.autocomplete-group{display:none}.autocomplete-suggestion{padding:2px 15px !important}#powered-by-constructor-io{background:#2a333c;color:rgba(255,255,255,0.8)}#powered-by-constructor-io a{color:rgba(255,255,255,0.8);text-decoration:none}#powered-by-constructor-io a:hover{color:#fff}@media (min-width: 768px){header{max-height:initial;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;-webkit-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap-reverse;-webkit-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse;padding:0 20px;-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;align-items:stretch}header>.header-item{-ms-flex-preferred-size:auto;-webkit-flex-basis:auto;flex-basis:auto;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;padding:1.25em 0}header>.brand-container{-webkit-box-ordinal-group:2;-ms-flex-order:1;-webkit-order:1;order:1;-webkit-box-flex:0;-ms-flex-positive:0;-webkit-flex-grow:0;flex-grow:0;width:125px}header>.header-search-container{-webkit-box-ordinal-group:3;-ms-flex-order:2;-webkit-order:2;order:2;-webkit-box-flex:1;-ms-flex-positive:1;-webkit-flex-grow:1;flex-grow:1;width:auto;padding-left:20px;padding-right:20px}header>.user-info-container{-webkit-box-ordinal-group:4;-ms-flex-order:3;-webkit-order:3;order:3;-webkit-box-flex:0;-ms-flex-positive:0;-webkit-flex-grow:0;flex-grow:0;width:auto;min-width:212px;text-align:left}header>.header-nav-menu-container{-webkit-box-ordinal-group:5;-ms-flex-order:4;-webkit-order:4;order:4;-webkit-box-flex:1;-ms-flex-positive:1;-webkit-flex-grow:1;flex-grow:1;width:100%;padding:0 20px;margin:0 -20px;background-color:#C12127;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-line-pack:justify;-webkit-align-content:space-between;align-content:space-between;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}header>.header-nav-menu-container .npm-expansions,header>.header-nav-menu-container .nav-menu-container{-webkit-box-flex:1;-ms-flex:1 auto;-webkit-flex:1 auto;flex:1 auto}header>.header-nav-menu-container .npm-expansions{-webkit-box-flex:10;-ms-flex-positive:10;-webkit-flex-grow:10;flex-grow:10}header.hero-transparent+.pane{margin-top:-6em;padding-top:6em}header.anonymous .user-info-container{width:auto;min-width:auto}header.anonymous .user-info-container,header.anonymous .user-info{text-align:right}header.anonymous .header-nav-menu-container{width:100%}.header-nav-menu-container a{font-size:0.9em}.drop-down-menu-container{display:block;text-align:center}.nav-menu-container .drop-down-menu-container li a{text-align:center}.nav-menu-container .drop-down-menu-container li a:hover{background:header-nav-highlight-bg}.npm-expansions{display:block}.nav-toggle{display:none}.header-item .product-navigation,.header-item .product-navigation.hidden{display:block !important;position:static;background-color:transparent;border-radius:0;width:auto}.header-item .products-list{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;-webkit-flex-direction:row;flex-direction:row;-ms-flex-line-pack:end;-webkit-align-content:flex-end;align-content:flex-end;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}.header-item .products-list li{padding:0 0 0 0.9375em;border-bottom:0;-webkit-box-flex:1;-ms-flex:1 auto;-webkit-flex:1 auto;flex:1 auto}.header-item .products-list li a,.header-item .npm-expansions{padding:0.625em 0;color:rgba(255,255,255,0.8)}.header-item .products-list li a:hover,.npm-expansions:hover{color:#fff;text-decoration:none}.logo-container{width:125px}.site-search input[type="search"]{height:3.125em;margin:0}.site-search input[type="submit"]{width:70px;height:2.777em;border-left:1px solid rgba(255,255,255,0.2);text-indent:-9999em;background-position:50% 50%;background-size:16px 16px}.site-search input[type="submit"]:focus{border:1px solid rgba(255,255,255,0.8)}.logged-in .user-info-salutation{display:inline-block}}header.header-light{background-color:transparent;color:#6d7986;border-bottom:0}header.header-light a,header.header-light button{color:#cb3837}header.header-light .header-item .products-list li a:hover,header.header-light .npm-expansions:hover{color:#fff}header.header-light>.user-info-container{color:#6d7986}header.header-light .site-search input[type=search]{border:1px solid #ccc}header.header-light .site-search input[type=submit]{color:inherit}header.header-light .drop-down-menu-toggle{border:1px solid transparent}header.header-light .drop-down-menu-toggle:hover,header.header-light .drop-down-menu-toggle:focus,header.header-light .drop-down-menu-toggle.toggle-is-open,header.header-light .drop-down-menu-section li:hover{color:#cb3837;-webkit-transition:color 0.1s ease;transition:color 0.1s ease}header.header-light .drop-down-menu a:hover,header.header-light .drop-down-menu button:hover{color:#681b1b}header.header-light .drop-down-menu-toggle:hover,header.header-light .drop-down-menu-toggle:focus,header.header-light .drop-down-menu-toggle.toggle-is-open,header.header-light .drop-down-menu{box-shadow:0 3px 5px #ccc;border:1px solid #ccc;background-color:inherit}header.header-light .drop-down-menu{background-color:white}@media (min-width: 768px){header.header-light .drop-down-menu{border:none}}header.header-light .drop-down-menu-section li{border-bottom:1px solid #ccc}@media (min-width: 768px){header.header-light .drop-down-menu-section li{border:1px solid #ccc}}@media (min-width: 768px){header.header-light .product-navigation{box-shadow:none;border:none;background-color:transparent}header.header-light .product-navigation .drop-down-menu-section li{border:none}}@media (max-width: 479px){header.header-enterprise .header-nav-menu-container{-webkit-box-ordinal-group:3;-ms-flex-order:2;-webkit-order:2;order:2}}header.header-enterprise .brand-container,header.header-enterprise .logo-container{width:auto}header.header-enterprise .brand-container{-webkit-box-flex:0;-ms-flex-positive:0;-webkit-flex-grow:0;flex-grow:0;padding-right:1em;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}@media (max-width: 479px){header.header-enterprise .brand-container{margin-bottom:10px}}header.header-enterprise .header-search-container{-webkit-box-flex:1;-ms-flex-positive:1;-webkit-flex-grow:1;flex-grow:1}@media (max-width: 767px){header.header-enterprise .header-search-container{width:100%}}header.header-enterprise .header-drop-down-icon{font-size:54px}header.header-enterprise .logo-container svg{width:5em;vertical-align:middle}@media (max-width: 479px){header.header-enterprise .cobrand{display:none}}
footer {
  margin-top: 60px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer.pane > .container {
  padding-top: 35px;
  padding-bottom: 35px;
}
footer.bg-npm-navy-1 {
  background-color: #273547 !important;
}
footer .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
footer .container:before,
footer .container:after {
  content: " ";
  display: table;
}
footer .txt-c {
  text-align: center !important;
}
footer .type-neutral-11 {
  color: #fff !important;
}
footer .row {
  margin-left: -10px;
  margin-right: -10px;
}
footer .row:before,
footer .row:after {
  content: " ";
  display: table;
}
footer .row .col-md-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
footer .row .col-md-6 .h4 {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 1.286;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0.107em;
  padding-bottom: 0.107em;
}
footer .row .col-md-6 .type-npm-pastel-3 {
  color: #a4bbd7 !important;
}
footer .row .col-md-6 hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 21px;
  margin-bottom: 21px;
}
footer .row .col-md-6 .divider-1 {
  border: 1px solid #fff;
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0 0 0;
}
footer .row .col-md-6 .list-unstyled {
  padding-left: 0;
}
footer .row .col-md-6 .list-unstyled li {
  line-height: 1.286;
}
footer .row .col-md-6 .list-unstyled,
footer .row .col-md-6 .list-unstyled li {
  list-style: none;
}
footer .row .col-md-6 .h6 {
  padding-top: 0.107em;
  padding-bottom: 0.107em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px !important;
  font-weight: 700 !important;
}
footer .row .col-md-6 .em-default {
  font-weight: 400 !important;
}
footer .row .col-md-6 .em-default .pbl {
  padding-bottom: 10px !important;
}
footer .bg-neutral-11 {
  background: #fff !important;
}
footer .mtxxl {
  margin-top: 40px;
}
.npm-loves-you {
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.npm-loves-you:before,
.npm-loves-you:after {
  content: "\2665";
  font-size: 14px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  top: 3px;
  opacity: 0;
}
.npm-loves-you:before {
  left: -10px;
}
.npm-loves-you:after {
  right: -10px;
}
.npm-loves-you:hover {
  text-decoration: none;
  opacity: 1;
}
.npm-loves-you:hover:before,
.npm-loves-you:hover:after {
  opacity: 1;
}
.npm-loves-you:hover:before {
  left: -15px;
}
.npm-loves-you:hover:after {
  right: -15px;
}
footer.npmo-footer .npm-loves-you:before,
footer.npmo-footer .npm-loves-you:after {
  opacity: 0;
}
footer.npmo-footer .npm-loves-you:hover {
  opacity: 1;
}
footer.npmo-footer .npm-loves-you:hover:before,
footer.npmo-footer .npm-loves-you:hover:after {
  opacity: 1;
}
@media (min-width: 768px) {
  footer.pane > .container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  footer.pane > .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    width: 960px;
  }
  .container .row .col-md-6 {
    width: 25%;
  }
  .container .row .col-md-offset-1 {
    margin-left: 4.16667%;
  }
  .container .row .col-md-offset-3 {
    margin-left: 12.5%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.markdown {
  margin: 0;
}
.markdown > h1 {
  margin: 0;
  padding: 20px 0 5px 0;
  text-align: left;
  line-height: 1.2;
  white-space: normal;
  overflow-y: hidden;
  text-transform: none;
}
.markdown > h1 a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.markdown >h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: rgba(0,0,0,0.8);
  font-weight: 700;
}
.markdown >h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  font-weight: 700;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.markdown >h2.deep-link a:before,
.markdown h3.deep-link a:before,
.markdown h4.deep-link a:before,
.markdown h5.deep-link a:before,
.markdown h6.deep-link a:before {
  display: inline-block;
  content: "#";
  color: #fff;
  margin-left: -20px;
  width: 20px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
@media only screen and (max-width: 767px) {
  .markdown >h2.deep-link a:before,
  .markdown h3.deep-link a:before,
  .markdown h4.deep-link a:before,
  .markdown h5.deep-link a:before,
  .markdown h6.deep-link a:before {
    display: none;
  }
}
.markdown >h2.deep-link a:hover:before,
.markdown h3.deep-link a:hover:before,
.markdown h4.deep-link a:hover:before,
.markdown h5.deep-link a:hover:before,
.markdown h6.deep-link a:hover:before {
  color: rgba(0,0,0,0.8);
}
.markdown h3 {
  font-size: 20px;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 18px;
}
.markdown ol ol,
.markdown ul ol,
.markdown ol ul,
.markdown ul ul {
  margin: 0 0 0 20px;
}
.markdown p,
.markdown li {
  font-size: 16px;
}
.markdown p a,
.markdown li a {
  font-weight: 600;
}
.markdown th {
  font-weight: bold;
}
.markdown td,
.markdown th {
  padding: 0 5px;
  background: #f5f5f5;
}
.markdown img {
  max-width: 100%;
}
.highlight {
  background-color: #f0f0f0;
  color: #000;
}
.highlight .invisible-character {
  color: rgba(85,85,85,0.2);
}
.highlight .indent-guide {
  color: rgba(85,85,85,0.2);
}
.highlight .wrap-guide {
  background-color: rgba(85,85,85,0.2);
}
.highlight .gutter {
  color: #000;
  background: #fff;
}
.highlight .gutter .line-number.folded,
.highlight .gutter .line-number:after,
.highlight .fold-marker:after {
  color: #e87b00;
}
.highlight .invisible {
  color: #555;
}
.highlight .selection .region {
  background-color: #e1e1e1;
}
.highlight.is-focused .cursor {
  border-color: #000;
}
.highlight.is-focused .selection .region {
  background-color: #afc4da;
}
.highlight.is-focused .line-number.cursor-line-no-selection,
.highlight.is-focused .line.cursor-line {
  background-color: rgba(255,255,134,0.34);
}
.highlight .source.gfm {
  color: #444;
}
.highlight .gfm .markup.heading {
  color: #111;
}
.highlight .gfm .link {
  color: #888;
}
.highlight .gfm .variable.list {
  color: #888;
}
.highlight .markdown .paragraph {
  color: #444;
}
.highlight .markdown .heading {
  color: #111;
}
.highlight .markdown .link {
  color: #888;
}
.highlight .markdown .link .string {
  color: #888;
}
.highlight(.is-focused) .cursor {
  border-color: #000;
}
.highlight(.is-focused) .selection .region {
  background-color: #afc4da;
}
.highlight(.is-focused) .line-number.cursor-line-no-selection,
.highlight(.is-focused) .line.cursor-line {
  background-color: rgba(255,255,134,0.34);
}
.comment {
  color: #998;
  font-style: italic;
}
.string {
  color: #d14;
}
.string .source,
.string .meta.embedded.line {
  color: #5a5a5a;
}
.string .punctuation.section.embedded {
  color: #920b2d;
}
.string .punctuation.section.embedded .source {
  color: #920b2d;
}
.constant.numeric {
  color: #d14;
}
.constant.language {
  color: #606aa1;
}
.constant.character,
.constant.other {
  color: #606aa1;
}
.constant.symbol {
  color: #990073;
}
.constant.numeric.line-number.find-in-files .match {
  color: rgba(143,190,0,0.63);
}
.variable {
  color: #008080;
}
.variable.parameter {
  color: #606aa1;
}
.keyword {
  color: #222;
  font-weight: bold;
}
.keyword.unit {
  color: #458;
}
.keyword.special-method {
  color: #0086b3;
}
.storage {
  color: #222;
}
.storage.type {
  color: #222;
}
.entity.name.class {
  text-decoration: underline;
  color: #606aa1;
}
.entity.other.inherited-class {
  text-decoration: underline;
  color: #606aa1;
}
.entity.name.function {
  color: #900;
}
.entity.name.tag {
  color: #008080;
}
.entity.other.attribute-name {
  color: #458;
  font-weight: bold;
}
.entity.name.filename.find-in-files {
  color: #e6db74;
}
.support.constant,
.support.function,
.support.type {
  color: #458;
}
.support.class {
  color: #008080;
}
.invalid {
  color: #f8f8f0;
  background-color: #00a8c6;
}
.invalid.deprecated {
  color: #f8f8f0;
  background-color: #8fbe00;
}
.meta.structure.dictionary.json > .string.quoted.double.json,
.meta.structure.dictionary.json > .string.quoted.double.json .punctuation.string {
  color: #000080;
}
.meta.structure.dictionary.value.json > .string.quoted.double.json {
  color: #d14;
}
.meta.diff,
.meta.diff.header {
  color: #75715e;
}
.css.support.property-name {
  font-weight: bold;
  color: #333;
}
.css.constant {
  color: #099;
}
.bracket-matcher .region {
  background-color: #c9c9c9;
  opacity: 0.7;
  border-bottom: 0 none;
}
.tipsy {
  font-size: 13px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;
}
.tipsy-inner {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  line-height: 1.75;
  letter-spacing: 0.05em;
  max-width: 200px;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
}
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed rgba(0,0,0,0.9);
}
.tipsy-arrow-n {
  border-bottom-color: rgba(0,0,0,0.9);
}
.tipsy-arrow-s {
  border-top-color: rgba(0,0,0,0.9);
}
.tipsy-arrow-e {
  border-left-color: rgba(0,0,0,0.9);
}
.tipsy-arrow-w {
  border-right-color: rgba(0,0,0,0.9);
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.explain,
.paid-for {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  font-weight: 600;
  margin: auto 5px;
}
.paid-for {
  background: #cce6cc;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 25px;
  margin: 20px auto;
}
.paid-for:hover {
  background: #66b466;
}
section {
  display: block;
  margin: 50px 0;
}
.container {
  position: relative;
  float: none;
  clear: both;
  overflow: visible;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.container.static-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.main-contain {
  margin: 0 auto;
}
.narrow {
  max-width: 480px;
}
.tablet-width {
  max-width: 640px;
}
.right-well-fixed {
  max-width: 930px;
  margin: 0 auto;
}
.content-column {
  position: relative;
  float: left;
  width: 65%;
  margin-bottom: 90px;
}
.right-well-fixed .content-column {
  width: 460px;
}
@media only screen and (max-width: 929px) {
  .right-well-fixed .content-column {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .content-column {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
}
.sidebar {
  float: right;
  margin-top: 40px;
  width: 30%;
}
.right-well-fixed .sidebar {
  width: 380px;
}
@media only screen and (max-width: 929px) {
  .right-well-fixed .sidebar {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    float: none;
    clear: both;
    overflow: hidden;
  }
}
.sidebar .tonicdev {
  background: url("/static/images/tonicdev.ico") center left no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
}
.sidebar .promotion {
  margin-bottom: 40px;
}
.sidebar #npm-addon-box,
.sidebar #npm-addon-box ul {
  margin: 0px;
  padding: 0px;
}
.sidebar #npm-addon-box h3,
.sidebar #npm-addon-box ul h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.sidebar #npm-addon-box img,
.sidebar #npm-addon-box ul img {
  height: 24px;
  top: 6px;
  position: relative;
  padding-right: 6px;
}
.sidebar #npm-addon-box li,
.sidebar #npm-addon-box ul li {
  list-style: none;
}
.sidebar #npm-addon-box li:not(:first-child),
.sidebar #npm-addon-box ul li:not(:first-child) {
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 6px;
}
.sidebar #npm-addon-box li:not(:first-child):not(:last-child),
.sidebar #npm-addon-box ul li:not(:first-child):not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
form.star {
  position: absolute;
  top: 29px;
  left: -32px;
  display: block;
  margin: 10px 0;
}
@media only screen and (max-width: 1180px) {
  form.star {
    left: auto;
    top: 28px;
    right: 0px;
  }
}
form.star input[type=checkbox] {
  display: none;
}
form.star input[type=checkbox] + label {
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
}
form.star input[type=checkbox] + label:before {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  font-size: 18px;
  color: rgba(0,0,0,0.2);
  margin-right: 5px;
}
form.star input[type=checkbox]:checked + label:before {
  color: #cb3837;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.package-name i {
  position: relative;
  left: 0px;
  bottom: 8px;
}
ul.columnar {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
ul.columnar li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  page-break-inside: avoid;
  padding: 5px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  ul.columnar {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}
.collaborated-packages li .icon-lock {
  position: absolute;
  left: -20px;
  color: rgba(0,0,0,0.6);
}
@media only screen and (max-width: 767px) {
  .collaborated-packages li .icon-lock {
    left: -14px;
  }
}
.package-widget:hover a {
  color: #cb3837 !important;
}
.package-widget h3,
.package-widget h3 a {
  font-size: 20px;
  line-height: 20px;
  overflow: visible;
  vertical-align: top;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.package-widget a.name {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}
.package-widget a.name:before {
  content: "\e618";
  color: rgba(0,0,0,0.2);
  line-height: 20px;
  padding-right: 6px;
}
.package-widget p {
  font-size: 15px;
  margin: 0;
  max-width: 100%;
  color: rgba(0,0,0,0.6);
  padding-left: 23px;
}
.package-widget .quiet {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
.package-widget .quiet a {
  color: rgba(0,0,0,0.8);
  font-weight: 400;
}
.package-widget-with-logo {
  padding-left: 60px;
}
.package-widget-with-logo .package-logo {
  margin-left: -60px;
  margin-bottom: -50px;
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.package-widget-with-logo .package-logo img {
  max-width: 50px;
  max-height: 50px;
}
.package-widget-with-logo .package-details a.name:before {
  display: none;
}
.package-widget-with-logo .package-details p {
  padding-left: 0;
}
.box {
  margin: 0;
  font-size: 16px;
  color: rgba(0,0,0,0.6);
}
.box a:hover {
  color: #cb3837 !important;
}
.box p {
  padding: 14px;
  margin: 0;
}
.box a {
  text-decoration: none;
}
.box a:hover {
  text-decoration: underline;
}
.box li {
  line-height: 2.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.box li:last-child {
  border-bottom: none;
}
.box li.address {
  line-height: 1.5;
  padding-top: 0.5em;
}
.pagination {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}
.pagination a {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.08);
  text-align: center;
  margin: 0 2px 10px;
  padding: 1px 11px;
  color: #cb3837;
  text-decoration: none;
}
.pagination a:hover,
.pagination a.active {
  border-color: #a42b2b;
  color: #fff;
  background: #cb3837;
}
a.avatar {
  max-width: 100%;
  display: block;
}
a.avatar img {
  width: 100%;
  border-radius: 5px;
}
ol {
  list-style-position: inside;
}
ul {
  margin: 0 0 20px 20px;
}
ul li {
  list-style: disc;
}
ol.bullet-free li,
ul.bullet-free li {
  list-style: none;
  padding: 2px 0;
}
ol.bullet-free li a,
ul.bullet-free li a {
  font-weight: 600;
}
ul.meta li {
  border-top: 1px solid rgba(0,0,0,0.2);
  line-height: 2;
}
ul.meta li:first-child {
  border: none;
}
li.last-publisher img {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 3px;
  vertical-align: middle;
}
li.last-publisher a {
  height: 20px;
  vertical-align: top;
}
ul.humans {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  float: none;
  overflow: hidden;
}
ul.humans li {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 10px;
}
ul.humans a {
  display: block;
  position: relative;
  text-decoration: none;
}
ul.humans img,
ul.humans a.add {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
ul.humans a.add {
  text-align: center;
  line-height: 44px;
  vertical-align: top;
  font-weight: 700;
  font-size: 32px;
  background: rgba(0,0,0,0.04);
  color: rgba(0,0,0,0.4);
}
ul.humans a.add:hover {
  background-color: #cb3837;
  color: #fff;
}
ul.humans span {
  padding-left: 3px;
  display: inline-block;
  line-height: 44px;
  vertical-align: top;
}
.ad {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.04);
  border-radius: 2px;
  background: rgba(0,0,0,0.02);
}
.ad a {
  font-weight: 400;
  text-decoration: underline;
}
.ad a.quiet {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}
.ad p {
  margin: 0;
  padding: 0;
}
.ad.discreet {
  padding: 0;
  border: none;
  background: none;
}
.hiring-widget {
  padding: 20px 0;
}
.hiring-widget-logo {
  display: block;
  text-align: center;
  height: 80px;
  margin-bottom: 10px;
}
.hiring-widget-logo img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
div.scroll-beyond-300 {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.08);
  margin: 15px 0;
}
img.roomy-and-flexible {
  max-width: 100%;
  margin: 40px 0;
}
.img-container img {
  max-width: 100%;
}
.npm-install {
  position: relative;
  margin-bottom: 20px;
}
.npm-install:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0,0,0,0.2);
  vertical-align: top;
}
.autoselect-wrapper > input[type=text] {
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 18px;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: visible;
  overflow-x: auto;
  color: rgba(0,0,0,0.6);
  height: 20px;
  cursor: text;
  font-size: 15px;
}
.search-results li {
  list-style: none;
}
.search-results h3 {
  padding-bottom: 0;
}
.search-results .name {
  font-weight: bold;
  font-size: 1.2em;
}
.search-results .author {
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
  font-size: 0.9em;
  color: rgba(0,0,0,0.4);
}
.search-results .author a {
  color: rgba(0,0,0,0.4);
}
.search-results .author a:hover {
  color: #cb3837;
}
.search-results p {
  margin-bottom: 0px;
}
.search-results .package-details {
  position: relative;
}
.search-results .keywords,
.search-results .stats {
  color: rgba(0,0,0,0.4);
  font-size: 0.8em;
}
.search-results .readme-context {
  background-color: #f6f6f6;
  padding: 5px;
  font-size: 0.8em;
  color: rgba(0,0,0,0.6);
}
.search-results i {
  position: relative;
  font-size: 0.9em;
  margin-right: 4px;
  top: 1px;
}
.hint-block {
  background-color: #f9f9e5;
  padding: 1em 0;
  margin-top: 1em;
  text-align: center;
}
.a11y-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px) /* IE6, IE7 */;
  clip: rect(1px, 1px, 1px, 1px);
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}
table thead {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
table thead tr {
  height: 30px;
  text-transform: lowercase;
}
table tbody {
  margin-top: 10px;
}
table tr {
  height: 60px;
}
table tr:nth-child(2n) {
  background: #f3f3f3;
}
table tr.user-add {
  padding: 10px auto;
  vertical-align: middle;
  border-top: 1px solid rgba(0,0,0,0.04);
  background: #fafae5;
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
  color: rgba(0,0,0,0.8);
}
table th:first-of-type,
table td:first-of-type {
  padding-left: 10px;
  text-align: left;
}
table th.action,
table td.action {
  padding-right: 10px;
  text-align: right;
}
table th {
  color: rgba(0,0,0,0.4);
  font-weight: 600;
}
.org-team-empty {
  background: #e8e8e8;
  text-align: center;
  color: #979797;
  padding: 20px 0;
}
.add-count {
  display: inline-block;
}
.remove-all-users,
.remove-all-pkgs {
  float: right;
}
.members-list,
.packages-list {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0px;
}
.members-list li,
.packages-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.04);
}
.members-list li *,
.packages-list li * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0px;
}
.members-list li .name,
.packages-list li .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 240px;
}
.members-list li .role,
.packages-list li .role {
  width: 180px;
}
.members-list li .role a,
.packages-list li .role a {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
.members-list li .switch-container label,
.packages-list li .switch-container label {
  display: inline-table;
}
.members-list li .switch-container .switch,
.packages-list li .switch-container .switch {
  position: absolute;
  left: 40%;
  top: 6px;
}
.members-list li button,
.packages-list li button {
  display: inline-block;
  margin-left: 15px;
}
.members-list li span.name {
  width: 100%;
}
.table-action {
  text-align: center;
}
#what-npm-is-for {
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 20px;
  color: #cb3837;
  width: 200px;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  #what-npm-is-for {
    margin-bottom: 0;
    display: block;
    text-align: center;
    width: auto;
  }
}
#what-npm-is-for:after {
  -webkit-animation: cursor-blink 0.8s linear infinite;
  animation: cursor-blink 0.8s linear infinite;
  content: "|";
  color: #cb3837;
  padding-left: 3px;
}
#what-npm-is-for.disabled:after {
  content: none;
}
#home-stats {
  position: relative;
  margin: 10px auto 10px auto;
  padding: 0;
  max-width: 900px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 820px) {
  #home-stats {
    display: block;
  }
  #home-stats .stat {
    display: block;
    width: 200px;
    margin: 15px auto;
  }
}
@media only screen and (max-width: 767px) {
  #home-stats {
    display: none;
  }
}
.stat {
  position: relative;
  -webkit-flex: 0 1 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  line-height: 20px;
  font-size: 14px;
  color: rgba(0,0,0,0.4);
  margin: 20px 20px 20px 0;
  padding-left: 46px;
}
.stat.icon-package-hex:before {
  top: 0;
  font-size: 36px;
}
.stat:before {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 2px;
  color: rgba(0,0,0,0.8);
}
.stat strong {
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  display: block;
  color: rgba(0,0,0,0.8);
}
@-webkit-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.tip {
  margin: 20px 0 0;
}
.tip strong {
  margin-right: 5px;
}
.tip > p {
  display: inline;
}
.tip code {
  background-color: transparent;
  font-size: 1em;
  white-space: pre;
}
.tip code:before,
.tip code:after {
  content: "`";
  display: inline;
}
.billing-header {
  text-align: left;
}
.org-info-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}
.org-info-header-container h2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 80%;
      -ms-flex: 0 80%;
          flex: 0 80%;
  padding: 0;
  margin: 0;
}
.org-info-header-container a {
  -webkit-box-flex: 0;
  -webkit-flex: 0 20%;
      -ms-flex: 0 20%;
          flex: 0 20%;
}
.org-packages .icon-lock {
  position: relative;
  top: 3px;
  color: rgba(0,0,0,0.6);
}
.package-header,
.member-header {
  padding: 5px;
  background: rgba(0,0,0,0.04);
}
.org-user-add input[type=text],
.org-user-add input[type=radio],
.org-user-add fieldset,
.org-user-add label,
.org-user-add button {
  display: inline-block;
}
.org-user-add input[type=text] {
  margin: auto;
  width: 35%;
}
.org-user-add fieldset {
  min-width: 200px;
  margin: auto 10px;
}
.org-user-add fieldset legend {
  margin: 0;
}
.name-desc {
  float: left;
  margin: 10px;
  line-height: 125%;
}
.name-desc li:only-child {
  line-height: 285%;
}
.name-desc .display-name {
  color: rgba(0,0,0,0.4);
}
.submit-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0px auto;
}
.submit-row button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.submit-row a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.team-selector-container,
.add-member-btn,
.add-package-btn,
.members-to-add,
.packages-to-add {
  display: none;
}
.js .team-selector-container,
.js .members-to-add,
.js .packages-to-add {
  display: block;
}
.js .add-member-btn,
.js .add-package-btn {
  display: inline-block;
  vertical-align: top;
}
.js .inline-input {
  display: inline-block;
  margin-right: 13px;
  width: 71%;
  height: 47px;
}
.cms-content .container {
  width: auto;
}
