root { 
    display: block;
}

.root {
-fx-background-image: url("iv3d.default.background.jpg");
-fx-border-width:2;
-fx-border-color:lightblue;
-fx-background-position: center center;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeee;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}


.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #2c3e50;
}

.button:disabled {
    -fx-opacity: 0.4;
}

#cancel_action {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #E74C3C;
}

#heading1 {
   -fx-font-size: 32px;
   -fx-font-weight: bold;
   -fx-font-family: "Arial Black";
   -fx-fill: #eeeeee
}

#heading2 {
   -fx-font-size: 28px;
   -fx-font-weight: bold;
   -fx-font-family: "Arial Black";
   -fx-fill: #eeeeee
}

#filled_label {
    -fx-background-color: #cccccc;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeee;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#result_text_error {
  -fx-fill: red;
  -fx-font-weight: bold;
}

#result_text {
  -fx-fill: lightgreen;
  -fx-font-weight: bold;
}

.text-input:disabled {
    -fx-opacity: 0.4;
}

.password-field:disabled {
    -fx-opacity: 0.4;
}

#heading2 {
   -fx-font-size: 22px;
   -fx-font-weight: bold;
   -fx-font-family: "Times Roman";
   -fx-fill: #eeeeee
}

.widget-heading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

.widget-label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.widget-label-filled {
    -fx-font-size: 12px;
    -fx-background-color: #bbbbbb;
}

.topleft_dashboard_backgound { 
    -fx-background-image: null;
    -fx-border-color: null;
    -fx-scale-shape:true;
    -fx-position-shape:false;
    -fx-background-color: rgba(50, 50, 50, 1);
    -fx-shape:"M 0,0 L 50,0 50,50 0,50 Z"; 
}

#backgroundRegoin {
    -fx-scale-shape:false;
    -fx-position-shape:true;
    -fx-background-color: red;
    -fx-border-color: blue;
    -fx-border-width:2;
    -fx-shape:"M 0,50 L 75,50 75,11 81,2 280,2 289,12 289,26 285,32 285,60 289,64 289,79 280,96 240,96 235,90 93,90 52,50 Z";
}
