
.toggle-button {
    -fx-border-width: 0px;
    -fx-border-color: #000;
    -fx-background-color: lightgrey;
    -fx-background-image: null;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

.toggle-button:selected {
    -fx-border-width: 0px;
    -fx-border-color: #000;
    -fx-background-color: lightcoral;
    -fx-background-image: null;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

.button {
    -fx-background-color: burlywood;
}