/** http://designmodo.github.io/Flat-UI/ **/

body {
    background-color: black;
}

html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow: hidden
}

.offset-div {position:absolute;top:0%;left:0%;z-index:2;height:100%; width:100%;overflow: hidden}
.offset-parent {position:absolute;top:10%;left:10%;z-index:2;height:80%; width:80%;overflow: hidden}

.fill-parent{
    height:100%;
    width:100%;
    margin:0; padding:0;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

.fill-parent-absolute {
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  z-index:2;
  overflow: hidden;
}

.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.top-left-parent{
    height:50%;
    width:50%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

.layer-root {
  position: "relative"
}

/** WORLD MAP EVENTS **/

.worldevent-filter-button > a {
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:  5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.worldevent-filter-button > input {
  visibility: hidden;
  position: absolute;
}

.worldevent-filter-button> input:checked + i {
  background-color:#666;
}

.worldevent-filter-button > input + i {
  background-color:#cecece;
}

.worldevent-filter-button > input:checked + a {
  background-color:#666;
}
