
.tectui-center-children {
    display:flex;
    justify-content:center;
    align-items:center;
}

.tectui-center-children-v {
    display:flex;
    align-items:center;
}

.tectui-center-children-h {
    display:flex;
    justify-content:center;
}

.tectui-color-default-text {
    color: #BDBDBD;
}

.tectui-color-default {
    color: #BDBDBD;
    background-color: #3c3c3c;
    border-color: #282828;
}

.tectui-color-grey-text {
    color: #BDBDBD;
}

.tectui-color-grey {
    color: #3c3c3c;
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.tectui-color-stopped-text,
.tectui-color-disabled-text {
    color: #3c3c3c;
}

.tectui-color-disabled-text,
.tectui-color-disabled {
    color: #3c3c3c;
    background-color: #BDBDBD;
    border-color: #696969;
}

.tectui-color-waiting-text,
.tectui-color-running-text,
.tectui-color-primary-text {
    color: #2a9fd6;
}

.tectui-color-waiting,
.tectui-color-running,
.tectui-color-primary {
    color: #ffffff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}

.tectui-color-info {
    color: #ffffff;
    background-color: #9933cc;
    border-color: #6e2caf;
}
.tectui-color-warning-text {
    color: #ffd24d;
}
.tectui-color-warning {
    color: #ffffff;
    background-color: #ff8800;
    border-color: #f05800;
}

.tectui-color-failed-text,
.tectui-color-error-text {
    color: #ff0000;
}

.tectui-color-failed,
.tectui-color-error {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #bd001f;
}

.tectui-color-success-text {
    color: #d4ff00;
}
.tectui-color-success {
    color: #ffffff;
    background-color: #77b300;
    border-color: #809a00;
}

.tectui-heading-font {
    font-weight: bold;
    font-size: 13px;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



