

.tectui-skewX-45 {
    -ms-transform: skewX(45deg); /* IE 9 */
    -webkit-transform: skewX(45deg); /* Safari */
    transform: skewX(45deg); /* Standard syntax */
}

.tectui-skewX-neg-45 {
    -ms-transform: skewX(-45deg); /* IE 9 */
    -webkit-transform: skewX(-45deg); /* Safari */
    transform: skewX(-45deg); /* Standard syntax */
}

.tectui-skewX-60 {
    -ms-transform: skewX(60deg); /* IE 9 */
    -webkit-transform: skewX(60deg); /* Safari */
    transform: skewX(60deg); /* Standard syntax */
}

.tectui-skewX-neg-60 {
    -ms-transform: skewX(-60deg); /* IE 9 */
    -webkit-transform: skewX(-60deg); /* Safari */
    transform: skewX(-60deg); /* Standard syntax */
}

.tectui-skewX-30 {
    -ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari */
    transform: skewX(30deg); /* Standard syntax */
}

.tectui-skewX-neg-30 {
    -ms-transform: skewX(-30deg); /* IE 9 */
    -webkit-transform: skewX(-30deg); /* Safari */
    transform: skewX(-30deg); /* Standard syntax */
}

.tectui-skewX-15 {
    -ms-transform: skewX(15deg); /* IE 9 */
    -webkit-transform: skewX(15deg); /* Safari */
    transform: skewX(15deg); /* Standard syntax */
}

.tectui-skewX-neg-15 {
    -ms-transform: skewX(-15deg); /* IE 9 */
    -webkit-transform: skewX(-15deg); /* Safari */
    transform: skewX(-15deg); /* Standard syntax */
}