.full-size{
    height:100%;
    width:100%;
    margin:0; padding:0;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

.top-left-size{
    height:50%;
    width:50%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}